<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png">
</div>
<div style="text-align:center">
  <h1>Pet Shelter Links</h1>
<button [routerLink]="['']">Home</button> - 
<button [routerLink]="['/new']">Add New Pet</button>

<router-outlet></router-outlet>
